@import "tailwindcss";

:root {
  --egg-shell-white: #fdf9f3;
  --soft-peach: #ffe5b4;
  --apricot: #ff9472;
  --walnut-brown: #8b5e3c;
  --sage-green: #a8c686;
}

@theme inline {
  --color-base-background: var(--egg-shell-white);
  --color-light-background: var(--soft-peach);
  --color-accent-button: var(--apricot);
  --color-dark-accent: var(--walnut-brown);
  --color-secondary-accent: var(--sage-green);
  --font-manrope: var(--font-manrope);
  --font-sora: var(--font-sora);
  --animate-fade-in-up: fade-in-up 0.6s ease-out forwards;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: "translateY(20px)";
    }
    100% {
      opacity: 1;
      transform: "translateY(0)";
    }
  }
}

/* Default light mode for theme */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* system preference detection theme switcher */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--egg-shell-white);
  color: var(--walnut-brown);
}

html {
  scroll-behavior: smooth;
}
