@import "tailwindcss";

:root {
  --egg-shell-white: #fdf9f3;
  --soft-peach: #ffe5b4;
  --apricot: #ff9472;
  --walnut-brown: #8b5e3c;
  --sage-green: #a8c686;
  --darker-walnut-brown: #6f472d;
  --header-height: 68px;
}

/* #5c4a38 */

@theme inline {
  --color-base-background: var(--egg-shell-white);
  --color-light-background: var(--soft-peach);
  --color-accent-button: var(--apricot);
  --color-dark-accent: var(--walnut-brown);
  --color-darker-accent: var(--darker-walnut-brown);
  --color-secondary-accent: var(--sage-green);

  --font-manrope: var(--font-manrope);
  --font-sora: var(--font-sora);
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-sora font-semibold leading-tight;
  }
}

@utility content-center {
  @apply container mx-auto px-7;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility hero-section-wrapper {
  @apply relative pt-18 pb-10 lg:py-14 overflow-hidden min-h-[calc(100vh-var(--header-height))];
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 100%
  );
  width: 200%;
  height: 100%;
  animation: shimmer 1.8s infinite;
}

/* Default light mode for theme */
/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* system preference detection theme switcher */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--egg-shell-white);
  color: var(--walnut-brown);
}

html {
  scroll-behavior: smooth;
}
